@media (prefers-color-scheme: dark) {
  html {
    --background-color: black;
    --text-color: lightgrey;
  }
}

@media (prefers-color-scheme: light) {
  html {
    --background-color: lightgrey;
    --text-color: black;
  }
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
}
